.page-up {
    margin-top: 70px;

}
.navbar-logo {
    font-weight: bold;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    margin-bottom: 20px;
}